body{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    font-family: "dancingScript-regular";
    
}
@font-face
{
    font-family: "dancingScript-regular";
    src: url(font/DancingScript-Regular.ttf);
    font-display: swap;
}
.container-fluid{
    background-color: #e3f2fd;
}
.logoImg{
    height: 100px;
    object-fit: cover;
    
}
.navbar-nav{
   width: 100%;
   justify-content: space-between;
    font-size: 30px;
}
#listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(243, 223, 241);
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card{
    text-decoration: none;
    font-size: 30px;
    color: rgb(243, 223, 241);
    margin: 10px 10px 10px 10px;
    background-color:#e3f2fd ;
    border-radius: 10px 10px;
    padding-bottom: 30px;
}
.imageTeddy{
    object-fit: cover;
    height: 200px;
    border-radius: 25px;
}
.card-title{
    font-size: 30px;
}
.nav{
    justify-content: space-around;
}
footer{
   
    background-color: #e3f2fd;
   
}
.nav-item{

    text-align: center;
    padding: 10px;

}
#produitTeddie{
    background-color:rgb(243, 223, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nameTeddie{
    text-align: center;
    font-size: 40px;
}
.imageTeddie{
    object-fit: cover;
    width: 90%;
    border-radius: 40px;
}
.descriptionTeddie{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#optionEtCommander{
    background-color:rgb(243, 223, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#couleur{
    font-size: 20px;
    
}
.couleur{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
#prixUnitaire{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
}
.nombreEtCommander{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quantite{
    margin-top: 15px;
    font-size: 20px;
}
.quantite{
    font-size: 20px;
}
#Commander{
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 2px 2px 5px;
}
.titre{
    text-align: center;
    font-size: 40px;
}
#pagnier{
    padding-top: 25px;
}
.numero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.commande{
    width: 90%;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-size: 20px;
}
.prix{
    font-size: 20px;
}
.suprimer{
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 5px;
}
#valeurPagnier{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}
.titreCoordonnees{
    font-size: 40px;
    text-align: center;
}
.form-label{
    font-size: 20px;
}
#formulaire{
    padding: 1.5rem 4rem;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 5px 5px;
    font-size: 25px;
}
.formulaire{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#confirmation{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    height: 397px;
}
#numeroDeCommande{
    font-family: serif;
}
.is-invalid{
    border-color: black;
    background-image: none;
}